
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background-color: $creamy-white;
}

.post-item{
    width: 100%;
}

.top-menu{
    background-color: $orange;
    box-shadow: -1px 2px 20px $black;
    .navbar-brand{
        text-transform: uppercase;
    }
}

a.dropdown-item {
    &:active{
        background-color: $gray;
    }
    &.active{
        background-color: $orange;
        color: $black;
    }
}
.post-item{
    border-color: $gray;
    border-radius: 0px;
    box-shadow: 0px 0px 10px 0px #00000042;
    .card-header{
        a{
            color: $gray;
        }
    }

    .card-footer{
        .badge-primary{
            background-color: $orange;
        }
        .badge-secondary{
            background-color: $gray;
        }
    }
}

.pagination{
    .page-link{
        color: $gray;
    }

    .page-item.active .page-link{
        background-color: $orange;
        border: none;
    }
}

.modal-content{
    .modal-footer{
        .btn-primary{
            background-color: $orange;
            color: $black;
            border-color: $orange;
            &:active{
                background-color: $orange;
                opacity: 0.9;
            }
        }
        .btn-default{
            background-color: $gray;
            color: $white;
        }
    }
}


